source https://www.nuget.org/api/v2
nuget FAKE
nuget FParsec
nuget FSharp.Data
nuget FSharp.Quotations.Evaluator
nuget SharpYaml
nuget QuotationCompiler
nuget FSharp.Configuration
nuget FSharp.Compiler.Service
